:root {
  --dark-color: #000000;
  --light-color: #ffffff;
  --primary-color: #109340;
  --font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  height: 100%;
}

body {
  min-height: 100%;
}



nav {
  margin: 1rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.navbar a {
  color: var(--dark-color);
  text-decoration: none;
  margin: 0 20px;
}