* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  background: #111419;
  border-radius: 0;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #dddddd;
  border: 1px solid #111419;
  border-radius: 5px;
}

html {
  height: 100%;
  width: 100%;
}

.marquee-container {
  display: flex;
  overflow: hidden;
  position: relative;
}

.marquee-content {
  display: flex;
  animation: marquee 50s linear infinite;
}

.marquee-container:hover .marquee-content {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0%);
  }
}


::selection {
  color: black;
  background: rgb(22, 182, 80);
}