* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  background: #111419;
  border-radius: 0;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #dddddd;
  border: 1px solid #111419;
  border-radius: 5px;
}

html {
  height: 100%;
  width: 100%;
}

.marquee-container {
  display: flex;
  overflow: hidden;
  position: relative;
}

.marquee-content {
  display: flex;
  animation: marquee 50s linear infinite;
}

.marquee-container:hover .marquee-content {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0%);
  }
}


/* Parallax Section */
.parallax-section {
  position: relative;
  background-image: url('https://www.shutterstock.com/image-photo/barbell-fitness-training-gym-sports-600nw-2139742761.jpg');
  background-size: cover;
  background-position: center;
  /* Full viewport height */
  background-attachment: fixed;
  /* Parallax effect */

  display: flex;

  overflow: hidden;
}

/* Ensure content inside the parallax section is above the image */
.parallax-section .container {
  position: relative;
  z-index: 1;
}